<h2>Главное окно</h2>
<p>
  После авторизации пользователя осуществляется подключение к программе. На экране появляется главное окно программы (рис. 1.3.1).
</p>
<figure class="picture">
  <img src="../../../../assets/img/image5.png">
  <figcaption>Рис. 1.3.1. Главное окно программы</figcaption>
</figure>
<p><b>Главное окно содержит:</b></p>
<ul>
  <li>Главное меню
  <li>Панель управления
  <li>Новости с сайта barsim.ru
  <li>Служебные сообщения
  <li>Информация по обслуживанию (контакты службы технической поддержки, номера договоров лицензионного обслуживания и т.д.).
</ul>
<p>Главное меню позволяет вызвать любую функцию системы (рис. 1.3.2).</p>
<figure class="picture">
  <img src="../../../../assets/img/image6.png">
  <figcaption>Рис. 1.3.2. Главное меню</figcaption>
</figure>
<p>
  <b>Панель управления</b>  - это набор кнопок, которые позволяют ускорить вызов основных реестров (рис. 1.3.3).
</p>
<figure class="picture">
  <img src="../../../../assets/img/image7.png">
  <figcaption>Рис. 1.3.3. Вертикальная и круглые панели управления</figcaption>
</figure>
