<h1>Глава 1. Основная структура данных и порядок работы в ПК «БАРС-Имущество»</h1>
<p>Основополагающая структура данных системы состоит из четырех основных реестров:</p>
<ul>
  <li>Реестр контрагентов</li>
  <li>Реестр объектов</li>
  <li>Реестр договоров и обязательств</li>
  <li>Реестр документов</li>
</ul>
<p>Данные реестры связаны между собой через таблицу правоотношений. Структура связи показана на рис. 1.1.</p>
<figure class="picture">
  <img src="assets/img/image1.png">
  <figcaption>Рис. 1.1. Основная структура данных</figcaption>
</figure>
<p><b>Правоотношение</b> – это тип связи, который определяет, какие реестры каким образом связаны между собой. Например, правоотношение типа «Договор аренды ЗУ» связывает все реестры: Реестр контрагентов (арендатор), Реестр объектов (земельный участок), Реестр договоров (сам договор аренды), Реестр документов (документ, на основании которого заключен договор). Правоотношения могут связывать как все четыре основных реестра одновременно, так и два или три любых реестра между собой, например, правоотношение «Стоит на балансе» связывает два или три реестра: Реестр контрагентов (балансодержатель), Реестр объектов (имущество на балансе), Реестр договоров (договор хозяйственного ведения или оперативного управления).
В составе каждого реестра хранятся и обрабатываются записи, которые называются «Элементы реестра». В связи с тем, что в одном реестре могут объединяться достаточно разнородные по составу элементы реестра, например физическое лицо и государственное учреждение, земельный участок или автомобиль, выделяются различные типы элементов реестра. Элементы реестра одного типа имеют одинаковую структуру и одинаковый набор атрибутов (полей).
  Для каждого типа элементов реестра можно задать специализированный набор атрибутов, которые будут описывать элементы реестра данного типа. Например:</p>
<p><b>Физическое лицо</b></p>
<ul>
  <li>ФИО</li>
  <li>Дата рождения</li>
  <li>ИНН</li>
  <li>Паспорт и т.п.</li>
</ul>
<p><b>Юридическое лицо</b></p>
<ul>
  <li>Наименование</li>
  <li>ИНН</li>
  <li>КПП</li>
  <li>ФИО руководителя</li>
  <li>Адрес и т.п.</li>
</ul>
<p>В качестве атрибутов (или полей) элемента реестра могут выступать не только цифровые, символьные или логические поля данных, но и более сложные форматы документов, данных или ссылок, например, документ в формате MS Word, Excel, изображение, электронная карта, ссылка на элемент реестра, ссылка или содержимое файла и т.п.
Внешний вид для каждого типа элемента реестра также может быть задан разработчиком или администратором системы. Описание настройки структуры типов элементов реестра, а также настройку внешнего вида (интерфейса) для каждого типа см. в «Руководстве администратора». Все остальные реестры, содержащие данные о контрагентах, объектах имущества, документах, договорах и обязательствах, которые вы можете встретить в системе, например, Реестр договоров аренды земельных участков, являются подмножеством основных реестров, отфильтрованных по необходимым для пользователя параметрам.
Главное меню системы также может модернизироваться и настраиваться под потребности пользо­вателей. Необходимые функциональные блоки могут быть выделены  в зависимости от потребностей и обязанностей конкретного пользователя.
  Система является очень гибкой, так как она реализует возможность настройки любого рабочего места в зависимости от решаемых каждым конкретным пользователем задач. Исходя из данных особенностей, в настоящей документации пользователя приводятся примерные типовые схемы располо­жения и названия элементов главного меню, внешнего вида окон интерфейса и т.д., так как  реальный внешний вид интерфейса зависит от настроек БД и каждого конкретного рабочего места.</p>

