*{
  padding: 0;
  margin: 0;
}


.menu{
  padding: 0;
  margin: 0;
  display: block;

}

.menu li{
  display: block;
  margin: 0;
  padding: 0;
}

.menu a {
  text-decoration: none;
  color: black;
  font-size: 1rem;

}
.chapter a{
  display: block;
}
.paragraph {
  display: none;
}
