<h2>Архитектура ПК «БАРС-Имущество»</h2>
<p>Архитектура программного комплекса является иерархической. Она приведена на рис. 1.1.1.</p>
<figure class="picture">
  <img src="assets/img/image2.png">
  <figcaption>Рис. 1.1.1. Архитектура программного комплекса</figcaption>
</figure>
<p>
  Как видно из схемы, все локальные серверы взаимодействуют (синхронизируются) с Центральной базой данных (центральным сервером). Синхронизация данных происходит в обоих направлениях (от центрального сервера к локальным и от локальных к центральному). В зависимости от типа данных определяется направление синхронизации, однако состав и периодичность синхронизации можно поменять при необходимости.
</p>
<p>
  Первоначально в системе существуют системные справочники. Данные этих справочников могут редактироваться только на центральном сервере, и далее в неизменном виде синхронизируются в локальные серверы.
</p>
<p><b>Системные справочники в ПК «БАРС – Имущество»:</b></p>
<ul>
  <li>ОКТМО</li>
  <li>КБК</li>
  <li>ОКОГУ</li>
  <li>ОКВЭД</li>
  <li>ОКФС</li>
  <li>ОКОПФ</li>
  <li>АДБ</li>
  <li>Типы финансовых операций</li>
  <li>Виды гос.пошлин</li>
  <li>Причины изменения записей реестра</li>
  <li>Виды разрешенного использования</li>
  <li>Виды документов оснований для штрафа</li>
  <li>Типы льгот</li>
  <li>Орган, вынесший решение о наложении штрафа</li>
  <li>Типы правоотношений</li>
  <li>Виды нарушений</li>
  <li>Виды обязательств</li>
  <li>Виды документов</li>
  <li>Категории земельных участков</li>
  <li>Наименование органов по взысканию</li>
  <li>Методики расчета</li>
</ul>
