<h2>1.2. Вход в систему и главное меню</h2>
<p>
  Перед запуском системы клиентское рабочее место проверяет связь с сервером, а также наличие обновлений. При необходимости пользователю выдается запрос, и версия клиента обновляется автоматически. Если нет ошибок связи, версия обновлена (соответствует серверу), выполняется запуск программы.
  <br>Для начала работы с программой пользователь должен пройти идентификацию.
  <br>При запуске программы на экране появится диалог подключения к базе данных, в котором необходимо выбрать рабочую базу данных, указать имя пользователя и пароль (рис. 1.2.1).
</p>
<figure class="picture">
  <img src="assets/img/image3.png">
  <figcaption>Рис. 1.2.1. Вход в систему</figcaption>
</figure>
<p>
  Если имя пользователя или пароль указаны неверно, то на экране появится сообщение об ошибке идентификации (рис. 1.2.2).
</p>
<figure class="picture">
  <img src="assets/img/image4.png">
  <figcaption>Рис. 1.2.2. Ошибка идентификации</figcaption>
</figure>
<p>Для устранения ошибки необходимо проверить:</p>
<ul>
  <li>Правильность ввода имени пользователя и пароля;</li>
  <li>Текущую раскладку клавиатуры и состояние клавиши CapsLock.</li>
</ul>
<p>
  Если ошибка повторяется, обратитесь к администратору системы. После успешной авторизации пользователь может приступать к работе с программой
</p>
