<h1>Введение</h1>
<p>Программный комплекс «БАРС – Имущество» – единая система учета объектов и неналоговых доходов. </p>
<p>ПК  «БАРС – Имущество» предназначен для:</p>
<ul>
  <li>Учета сведений об объектах, включая денежные средства, управление и распоряжение которыми
    осуществляют государственные и муниципальные органы.</li>
  <li>Учета правоотношений и документов, возникающих при управлении государственным имуществом.</li>
  <li>Администрирования неналоговых доходов бюджетов.</li>
  <li>Составления единого информационного ресурса для управления объектами, включая государственное и
    муниципальное имущество, денежные средства и т.п.</li>
  <li>Выполнения задач по аналитической обработке информации, ведению учета и составлению отчетности,
    включая бюджетную отчетность.</li>
  <li>Мониторинга, контроля и анализа результатов управления объектами.</li>
  <li>Взаимодействия между Участниками информационной системы, а также Участников информационной системы
    с Внешними участниками информационной системы на основе электронного документооборота.</li>
  <li>Внедрения информационной системы для предоставления государственных услуг и услуг.</li>
  <li>Учета и отображения пространственных (картографических) данных.</li>

</ul>


