<h2>1.4. Главное меню</h2>
<p>
  С помощью главного меню можно вызвать любую функцию системы. Набор пунктов в главном меню можно изменять и настраивать в зависимости от потребностей конкретной организации.
</p>
<p><b>Состав главного меню системы:</b></p>
<ul>
  <li><b>Система</b></li>
  <ul>
    <li>Журнал СМЭВ</li>
    <li>Типы элементов реестра</li>
    <li>Пользовательские таблицы</li>
    <li>Пользовательские запросы</li>
    <li>Нормативы распределения бюджетов</li>
    <li>Права доступов пользователей</li>
    <li>Настройка</li>
  </ul>
  <li><b>Администрирование доходов</b></li>
  <ul>
    <li>Реестр поступлений</li>
    <li>Реестр невыясненных поступлений</li>
    <li>Реестр внебанковских операций</li>
    <li>Настройка загрузки поступлений и синхронизации КБК</li>
    <li>Загрузка файлов УФК</li>
    <li>Проверка выписок АДБ и справок о перечислении</li>
    <li>Проверка выписок АДБ и отчетов о состоянии л/с</li>
    <li>Проверка остатков по выпискам АБД</li>
    <li>Журнал регистрации загрузок файлов УФК</li>
    <li>Журнал ГИС ГМП</li>
    <li>Журнал операций</li>
    <li>Остатки по главной книге</li>
  </ul>
  <li><b>Контрагенты</b></li>
  <ul>
    <li>Полный реестр контрагентов</li>
    <li>Физические лица</li>
    <ul>
      <li>Предприниматели</li>
    </ul>
    <li>Юридические лица</li>
    <ul>
      <li>Казна</li>
      <li>Предприятие</li>
      <li>Учреждение</li>
      <li>Хозяйственное общество (товарищество)</li>
    </ul>
    <li>Непринятые изменения</li>
  </ul>
  <li><b>Объекты</b></li>
  <ul>
    <li>Полный реестр объектов</li>
    <li>Земельные участки</li>
    <li>Недвижимое имущество</li>
    <ul>
      <li>Здание</li>
      <li>Помещение</li>
      <li>Сооружение</li>
    </ul>
    <li>Непринятые изменения</li>
  </ul>
  <li><b>Движимое имущество</b></li>
  <ul>
    <li>Автотранспорт</li>
    <li>Акции (долги)</li>
  </ul>
  <li><b>Неналоговые доходы</b></li>
  <ul>
    <li>Должники по аренде ЗУ (физ.лица)</li>
    <li>Полный реестр договоров и обязательств</li>
    <li>Аренда земельных участков</li>
    <li>Аренда имущества</li>
    <li>Безвозмездное пользование</li>
    <li>Купля-продажа земельных участков</li>
    <li>Купля-продажа имущества</li>
  </ul>
  <li><b>Документы</b></li>
  <ul>
    <li>Полный реестр документов</li>
    <li>Акт сверки</li>
    <li>Иск</li>
    <li>Претензия</li>
  </ul>
  <li><b>Справочники</b></li>
  <ul>
    <li>Системные справочники</li>
    <ul>
      <li>Справочник ОКТМО (ОКАТО)</li>
      <li>Справочник ОКОПФ</li>
      <li>Справочник ОКФС</li>
      <li>Справочник ОКВЭД</li>
      <li>Справочник ОКОФ</li>
      <li>Справочник банков</li>
      <li>Справочник ФИАС</li>
      <li>Справочник методик</li>
      <li>Справочник преемственности КБК</li>
      <li>Справочник типовых операций журнала операций</li>
      <li>Справочник администраторов бюджета</li>
      <li>Справочник КБК</li>
      <li>Справочник КБК по годам</li>
      <li>Справочник ставок рефинансирования</li>
      <li>Справочник видов начислений</li>
      <li>Справочник праздничных дней</li>
      <li>Справочник коэффициентов инфляции</li>
      <li>Справочник типов рассрочки платежа</li>
      <li>Справочник средних ставок банковского процента по вкладам ФЛ</li>
    </ul>
    <li>Пользовательские справочники</li>
    <li>Справочники запросы</li>
  </ul>
  <li><b>Отчеты</b></li>
</ul>
